.positives_list {
    background-color: rgba(255, 0, 157, 0.164);
    font-size: 1.2em;
}

.positives_list__table {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
    padding: 3rem 20rem;
    background-color: rgba(255, 255, 255, 0.3);
}
/* .positives_list__table--header > div{
    background-color: rgb(79, 70, 95);
    color: white;
    font-weight: bold;
    margin: 0 0.05em;
} */

.positives_list__table--header,
.positives_list__table--row {
    display:grid;
    grid-template-columns: 1fr 10em 10em;
    width: 100%;
    align-items: center;
    margin: 0.1rem;
}
/* Por que, Deus? */
.positives_list__table--row.positive {
    display: none;
}

.positives_list__table--row .actions_unit,
.positives_list__table--row .labels__groups {
    padding:.1rem .8rem;
    text-align: left;
    background-color: rgba(200, 200, 200, 0.5);
}
.positives_list__table--row .actions_unit:hover {
    cursor: pointer;
    background-color:rgba(226, 226, 226, 0.7);
}

.labels__groups {
    display: flex;
    padding: .2rem .5rem;
    justify-content: space-between;
}
.groups__unit {
    font-size: 0.8em;
    padding: 0.1rem 0.3rem;
}

.labels__unit {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    padding: 1px 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: scale 0.5s ease-in-out, opacity 0.1s ease-in-out;
}
.labels__unit:hover {
    background-color: aquamarine;
    transform: scale(0.98);
    opacity: 0.8;
}
